<div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="row">
        <form class="form-signin" ng-submit="register()" ng-controller="RegistrationCtrl" role="form">
            <fieldset>
                <h1 class=form-signin-heading>Register User</h1>
                <input type="text" class="form-control inp_login" ng-model="username" name="username" placeholder="Type your username..." required>
                <input type="password" class="form-control inp_login" ng-model="password" name="password" placeholder="Type your password..." required>
                <input type="password" class="form-control inp_login" ng-model="check_password" name="check_password" placeholder="Repeat your password..." required>
                <button class="inp_login btn btn-lg btn-primary btn-block btn_big">Create User</button>
            </fieldset>
        </form>
    </div>
    <div class="row register">
        Already an account? Login <a href="#/login">here</a>
    </div>
    <div class="row">
            <div ng-show="failed_register" class="alert alert-danger">
                {{failed_register}}
            </div>
    </div>
</div>
