<!DOCTYPE html>
<html ng-app="webApp">
<head>
    <meta charset="utf8">
    <base href="/">
    <title>Sample Cam App</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/bootstrap_custom.css">
</head>
<body >
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home"><span class="appicon glyphicon glyphicon-facetime-video"></span></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
            <li><a href="">Welcome <%= user %>!</a></li>
                <li><a href="/api/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <div ng-view></div>
    </div>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/bower_components/angular-flash/dist/angular-flash.js"></script>
    <script type="text/javascript" src="/bower_components/webcam/dist/webcam.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>

</body>
</html>